# build output
*.zip
# OS / editor
Thumbs.db
.DS_Store
*.swp

# per-user history snapshot written by tools/Sync-EasyFish.ps1
EasyFish/EasyFish_Saved.lua

# packager build output
.release/

# python test cache
__pycache__/
